@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900');

:root {
    --body-font-size: 1.2rem;
    --h1-font-size: 4rem;
    --h2-font-size: 2.2rem;
    --h3-font-size: 1.8rem;
    --h4-font-size: 1.6rem;
    --body-background-color: #fff1d6;
    --purple-color: rgb(85, 26, 139);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 500;
    font-size: var(--body-font-size);
    text-align: center;
    user-select: none;
}

body {
    background-color: var(--body-background-color);
}

input,
textarea,
button,
select {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 500;
    font-size: var(--body-font-size);
}

input[type="text"],
textarea,
select {
    background: rgba(255, 255, 255, 0.4);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 100px;
}

.container::-webkit-scrollbar {
    display: none;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: safe center;
    min-height: 100%;
    height: fit-content;
    overflow-y: scroll;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    font-size: 1.4rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section::-webkit-scrollbar {
    display: none;
}

.background {
    position: absolute;
    width: 80%;
    height: 80%;
    max-width: 50%;
    max-height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

.bg1 {
    background-image: url('wedding-invite-leaf.svg');
}

.bg2 {
    background-image: url('wedding-invite-guord.svg');
}

.bg3 {
    background-image: url('wedding-invite-berries.svg');
}

.bg4 {
    background-image: url('wedding-invite-guord-2.svg');
}

.bg5 {
    background-image: url('wedding-invite-leaves.svg');
}

.bg6 {
    background-image: url('wedding-invite-leaves-2.svg');
}

.section:nth-child(odd) .background {
    animation: parallax-odd 20s infinite alternate linear;
}

.section:nth-child(even) .background {
    animation: parallax-even 20s infinite alternate linear;
}

@keyframes parallax-odd {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(50px);
    }
}

@keyframes parallax-even {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(-50px);
    }
}


.section-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: fit-content;
}

.section h1,
.section h2,
.section h3, 
.section h4 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 900;
}

.section h1 {
    font-size: var(--h1-font-size);
}

.section h2 {
    font-size: var(--h2-font-size);
}

.section h3 {
    font-size: var(--h3-font-size);
}

.section h4 {
    font-size: var(--h4-font-size);
}

a:link {
    color: var(--purple-color);
}

.navbar {
    display: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navbar li {
    width: 100%;
}

.navbar a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    transform: rotate(-90deg);
}

.initials {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.initials a {
    text-decoration: none;
    color: black;
}

#home-link {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    padding: 10px;
}

#home-link:hover,
.navbar a:hover {
    background-color: color-mix(in srgb, transparent 95%, var(--purple-color) 5%);
    border-radius: 20px;
}

.navbar a:active {
    font-weight: 800;
}

#home-link:active {
    font-weight: 700;
}

#rsvpForm {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(42, 42, 42, 0.6);
    color: #fff1d6;
}

button[type="submit"]:hover {
    background-color: rgb(42, 42, 42, 0.8);
}

.venue-item {
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    background-color: color-mix(in srgb, transparent 95%, var(--purple-color) 5%);
    border-radius: 20px;
}

.lodging-item {
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: color-mix(in srgb, transparent 95%, var(--purple-color) 5%);
    border-radius: 20px;
}

.itinerary-header {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.itinerary-header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.itinerary-layout {
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding-bottom: 40px;
}

.itinerary-day {
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    background-color: color-mix(in srgb, transparent 95%, var(--purple-color) 5%);
    border-radius: 20px;
}

.itinerary-item {
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
}

.itinerary-address p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.venue-layout, .itinerary-details {
    display: flex;
    flex-wrap: wrap;
    align-items: safe center;
}

.itinerary-details {
    gap: 40px;
}

.venue-layout {
    gap: 120px;
}


.venue-photos {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.venue-details {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
}

.venue-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    opacity: 0.9;
}

#name1 {
    margin-bottom: -10px;
}

#name2 {
    margin-top: -16px;
}

#lodging-section {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: safe center;
}

#lodging-section p {
    width: 100%;
    max-width: 800px;
}

.travel-carousel {
    overflow: hidden;
}

.travel-carousel-viewport {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    justify-content: space-evenly;
}

.travel-item {
    flex: 0 0 auto;
    width: 70%;
    max-width: 400px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    padding: 20px;
    background-color: color-mix(in srgb, transparent 95%, var(--purple-color) 5%);
    border-radius: 20px;
    font-size: 16pt;
    text-align: left;
}

.travel-item p {
    user-select: text;
}

@media (max-width: 768px) {
    :root {
        --body-font-size: 1rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.6rem;
        --h3-font-size: 1.3rem;
        --h4-font-size: 1.1rem;
    }

    body {
        padding: 10px;
    }

    .background {
        max-width: 90%;
        max-height: 90%;    
    }

    .travel-carousel-viewport {
        gap: 10px;
    }
}

@media (max-width: 1240px) {
    .venue-layout {
        flex-direction: column;
    }

    .venue-photos {
        display: none;
    }
}

@media screen and (min-width: 768px) and (min-height: 630px) {
    .navbar {
        display: block;
    }

    .initials {
        display: block;
    }

    .container {
        margin-left: 120px;
        padding-right: 120px;
    }
}